<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head>
    <script>
        // Set the date we're counting down to
    </script>

</head>
<div class="top_nav" data-th-fragment="top-navigation">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">

                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <!--<div class="form-group col-sm-10">-->
                <!--<h2 style="color: #0d0202">This Server will shout down in - <b id="countDownId"></b>. Please save your work and log out </h2>-->
                <!--<script th:inline="javascript">-->
                    <!--$(document).ready(function(){-->
                        <!--var countDownDate = new Date(new Date().getTime()+3*60000);-->
<!--//                        alert(countDownDate);-->
                        <!--// Update the count down every 1 second-->
                        <!--var x = setInterval(function() {-->

                            <!--// Get today's date and time-->
                            <!--var now = new Date().getTime();-->

                            <!--// Find the distance between now and the count down date-->
                            <!--var distance = countDownDate - now;-->

                            <!--// Time calculations for days, hours, minutes and seconds-->
                            <!--var days = Math.floor(distance / (1000 * 60 * 60 * 24));-->
                            <!--var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));-->
                            <!--var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));-->
                            <!--var seconds = Math.floor((distance % (1000 * 60)) / 1000);-->

                            <!--// Display the result in the element with id="demo"-->
                            <!--document.getElementById("countDownId").innerHTML = minutes + "m " + seconds + "s ";-->

                            <!--// If the count down is finished, write some text-->
                            <!--if (distance < 0) {-->
                                <!--clearInterval(x);-->
                                <!--document.getElementById("countDownId").innerHTML = "EXPIRED";-->
                            <!--}-->
                        <!--}, 1000);-->

                    <!--})-->

                <!--</script>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="">-->
                    <!--<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="true">-->
                        <!--<span class=" fa fa-angle-down"></span>-->
                        <!--<ul class="dropdown-menu dropdown-usermenu pull-left">-->
                        <!--<li ><a th:text="mnmns"></a></li>-->
                            <!--</ul>-->
                        <!--</a>-->
                <!--</li>-->
            <!--</ul>-->


            <ul class="nav navbar-nav navbar-right">

                    <li class="">

                    <a href="javascript:;" class="user-profile dropdown-toggle fa fa-angle-down" data-toggle="dropdown" aria-expanded="false"
                           th:text="${session.userName}">
                      <!-- <img th:src="@{/images/img.jpg}" alt=""/>-->
                        <!--<span class=""></span>-->
                        <!--<span id="logdUser"  th:text="${session.userName}"> </span>-->
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                         <!--<li><a th:href="@{/profile}"> Profile</a></li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<span class="badge bg-red pull-right">50%</span>-->
                                <!--<span>Settings</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li><a href="javascript:;">Help</a></li>-->
                        <li>
                            <a th:href="@{/changePass}"><i class="fa fa-key pull-right"></i>Change Password</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> Logout</a>
                        </li>
                    </ul>
                </li>




                <div data-th-replace="fragments/fragment-notification :: top-navigation-notifications"></div>



            </ul>

        </nav>
    </div>
</div>

</html>