<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--<html lang="en"-->
<!--data-layout-decorate="~{fragments/layout}">-->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->


    <!--<script th:inline="javascript">-->
    <!--$(document).ready(function(){-->
    <!--this._target.storageAgent().clearDataForOrigin(this._securityOrigin, storageTypes.join(','));-->
    <!--})-->
    <!--</script>-->

    <title>Orders</title>
</head>
<body>
<div class="right_col" style="height:100%;" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order Details</h3>
                    <div th:if="${message != null}"
                         style="width: 100%;margin:0 auto;"
                         class="alert alert-info align-content-center" role="alert">
                        <span style="color: red" th:if="${message != null}" th:text="${message}"></span>
                    </div>
                    <div th:if="${param.message != null}" class="alert align-content-center"
                         style="width: 100%;margin:0 auto;">
                        <p style="color: green;font-weight: bold" th:text="${param.message}"></p>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:action="@{'/userPage'}" th:object="${orderHeaderDto}" method="post">
                        <div class=" col-sm-6">

                            <input type="hidden" th:if="${id != null}" th:field="*{id}" class="form-control" id="id" required>


                            <div class="form-group">
                                <label for="orderNumber">Order Number :</label>
                                <input type="text" readonly th:field="*{orderNumber}" class="form-control" id="orderNumber" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="orderDate">Order Date :</label>
                                <input type="text" readonly  th:field="*{orderDate}" class="form-control" id="orderDate" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="customerLine">Customer :</label>
                                <input type="text" readonly th:field="*{customerLine.name}" class="form-control" id="customerLine" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="orderTrnsType">Trns. Type :</label>
                                <input type="text" readonly th:field="*{orderTrnsType.trnsTypeName}" class="form-control" id="orderTrnsType" required>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group required">
                                <label for="customerLine.siteAddress">Address :</label>
                                <input type="text" readonly  th:field="*{customerLine.siteAddress}" class="form-control" id="customerLine.siteAddress" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group required">
                                <label for="orderStatusName">Status :</label>
                                <input type="text" readonly  th:field="*{orderStatus.displayName}" class="form-control" id="orderStatusName" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label for="notes">Notes :</label>
                                <input type="text" readonly  th:field="*{notes}" class="form-control" id="notes" required>
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <a th:href="@{/orderPage}" class="btn btn-primary">Back</a>
                            <a th:if="${orderHeaderDto.orderStatus != orderHeaderDto.orderStatus.A}" th:href="@{'/approveOrder/' + ${orderHeaderDto.id}}" class="btn btn-default">Approve</a>
                            <a th:if="${orderHeaderDto.orderStatus == orderHeaderDto.orderStatus.A}" class="btn btn-success">Approved</a>
                        </div>
                    </form>

                    <div class="form-group col-sm-12" style="margin-top: 5%">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#SI.</th>
                                <th scope="col">Item</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">Amount</th>
<!--                                <th scope="col">Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o, iterator : ${orderHeaderDto.orderLineMList}">
                                <td th:text="${iterator.index}"></td>
                                <td th:text="${o.itemCode}"></td>
                                <td th:text="${o.orderUomCode}"></td>
                                <td th:text="${o.orderUomQty}"></td>
                                <td th:text="${o.price}"></td>
                                <td th:text="${o.amount}"></td>
<!--                                <td>-->
<!--                                    <a class="btn btn-success" th:href="@{'/userPage/' + ${o.id}}"><span-->
<!--                                            class="glyphicon glyphicon-edit"></span></a>-->
<!--                                    <a class="btn btn-success" th:href="@{'/userAccessPage/' + ${o.id}}"><span-->
<!--                                            class="glyphicon glyphicon-plus-sign"></span></a>-->
<!--&lt;!&ndash;                                    || <a class="btn btn-danger" th:href="@{'/user/delete/' + ${u.id}}"><span&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="glyphicon glyphicon-remove-circle"></span></a>&ndash;&gt;-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
